$navbar-background-color                : #b8d8ca;
$navbar-item-hover-background-color     : #93c5af;
$navbar-item-hover-color                : #77818b;
$navbar-item-active-color               : #77818b;
$navbar-item-active-background-color    :   #93c5af;